#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #3A86FF;;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons, input[type=file]::file-selector-button{
  background-color:rgb(58, 134, 255);
  color: white;
  padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 3%;
   padding-right: 3%;
  border-radius: 25px;
  border-width: 0;
  line-height: 2;
  box-shadow: 0 4px 15px 0 #3A86FF;
  /* box-shadow: #3A86FF 0 0px 0px 40px inset; */
  margin: 1%;
}

.buttons:hover, input[type=file]::file-selector-button:hover{
  cursor: pointer;
  transform: scale(0.90) ;
  box-shadow: 0 0 0 0 #3A86FF;
}

input{
  display: block;
  align-self: center;
  margin: auto;
}
input[type=file]::file-selector-button{
  box-shadow: none !important;
}

.mainContainer{
  margin: auto;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  padding: 1% 3% 1% 3%;

}

.mainHeading{
  margin-top: 1%;
}

html, body, #root{
  height: 97%;
  min-height: fit-content;
}

img{
  border: 8px solid wheat;
  margin: 3% auto ;
  display: block;
}

h2{
  border-top: 2px solid black;
  padding-top: 2%;
}